<%= form_for @user do |f| %>

	<% if @user.errors.any? %>
		<% @user.errors.full_messages.each do | error | %>
			<p><%= error %></p>
		<% end %>
	<% end %>
	
	<div class="form_list">
		<%= f.label :fname, "First Name" %>
		<%= f.text_field :fname %>
	</div>	
	<br>
	<div class="form_list">
		<%= f.label :lname, "Last Name" %>
		<%= f.text_field :lname %>
	</div>
	<br>
	<div class="form_list">
		<%= f.label :email, "Email" %>
		<%= f.email_field :email %>
	</div>
	<br>
	<div class="form_list">
		<%= f.label :password, "Password" %>
		<%= f.password_field :password %>
	</div>
	<br>
	<div class="form_list">
		<%= f.label :password_confirmation, "Confirm Password" %>
		<%= f.password_field :password_confirmation %>
	</div>
	<br>
	<div class="form_list">
		<div class="button"><%= f.submit "Sign Up" %></div>
	</div>
<% end %>