<div id="wrapper">
	 <div id="search_bar">
	  <%= form_tag("/search", method: "post") do %>
	    <%= label_tag(:search_name, "Search Users:") %>
	    <%= text_field_tag(:search_name) %>
	    <div id="search_button" class="button"><%= submit_tag("Search") %></div>
	  <% end %>
	</div>
	<div id="users_list">
		<h4 id="bark_users">Bark Users</h4>
		<% @users.each do |user| %>   
		  <%= link_to (user.fname + " " + user.lname), (user_path(user.id)) %>
		  <br><br>
		<% end %>
    </div>
    <div id="find_friends">
   		<h1>Find your friends!<br>Bark away today!</h1>
   		<img id="dog_group" src="/assets/group_of_dogs.jpg" width=100%>
   	</div>
	<div id="footer">
		<p id="copyright">&#169 2015 Bark. - All rights reserved.</p>
	</div>
</div>