<h1><%= @user.fname %> <%= @user.lname %></h1>
<section>
	<h3><%= @user.fname %>'s Info</h3>
	<ul>
		<li><%= @user.fname %> <%= @user.lname %></li>
	</ul>
</section>
<section>
	<div id="my_barks">
		<% @user.posts.reverse.each do |post| %>
 		 <p><%= post.body %></p>
 		 <p><%= post.created_at %></p>
 		<% end %>
	</div>
</section>